body {
	font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

a:link, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#body {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: #101010;
}
#body img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* min-width: 50%;
  min-height: 50%; */
  max-width: 50%;
  max-height: 50%;
}

#footer {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
}

.header {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        font-size: 0.8em;
}

.right {
	right: 10px;
}

.left {
	left: 10px;
}

#title {
    font-size: 1.5em;
    margin: 10px 0px 25px 20px;
}

#subheading {
    margin-left: 10px;
    font-size: 1.0em;
}

#subreddit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.8em;
}

#permalink {
    position: absolute;
    right: 10px;
    bottom: 25px;
    font-size: 0.8em;
}
